@model TestTask.ViewModels.Users.IndexVM

@{
    ViewBag.Title = "Phone Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("/Views/Shared/IndexFilterPartial.cshtml", Model.Filter); }
<a href="@Url.Action("Edit", "Users")">Create new</a>
<table>
    <tr>
        <td>User name</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr style="color:aquamarine">
            
            <td>@item.UserName</td>
            <td><a href="@Url.Action("Index","UserQuotes")?FilterVM.UserId=item.Id">User Games</a></td>
            <td><a href="@Url.Action("Edit", "Users", new { Id = item.Id })">edit</a></td>
            <td><a href="@Url.Action("Delete", "Users", new { Id = item.Id })">delete</a></td>
        </tr>
    }
</table>
@{ Html.RenderPartial("/Views/Shared/PagerPartial.cshtml", Model.Pager); }



